body {
    font-family: Arial, sans-serif;
    background-color: #FEE2AC;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logout-container {
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: inline-block;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}