body {
    font-family: Arial, sans-serif;
    background-color: #FEE2AC;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo {
    width: 300px;
    height: auto;
}

.login-container {
    text-align: center;
    margin-top: 50px;
}

.topnav {
    background-color: #412a11;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #fcfcfc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.profilepicture {
    display: flex;
    align-items: center;
}

.profilepicture img{
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.pictureButton {
    margin-right: auto;
}

.changeAcc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.pets {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.catPictureLabel {
    padding: 10px 25px;
    background-color: #4CAF50;
    color: white;

    border-radius: 500px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nextpet {
    position: absolute;
    top: 79%;
    left: 62%;
    transform: translateX(-50%);
    font-weight: bold;
}

.prevpet {
    position: absolute;
    top: 79%;
    left: 39%;
    transform: translateX(-50%);
    font-weight: bold;
}


.logo {
    width: 300px;
    height: auto;
}

.topnav a:hover {
    background-color: #ffffff;
    color: #412a11;
}

.topnav a.active {
    background-color: #f8b971;
    color: #412a11;
}

h2 {
    color: #412a11;
    margin-bottom: 20px;
}

.jpeg-container {
    text-align: center;
    margin-top: 20px;
}
form {
    background-color: #f8b971;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.Error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 50px;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="button"],
button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"].log-in,
input[type="button"].register-button,
button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s;
}

input[type="submit"]:hover,
input[type="button"].register-button:hover,
button:hover {
    opacity: 0.8;
}

input[type="button"].register-button {
    background-color: #4a90e2;
}

input[type="submit"].account-details {
    background-color: #FEE2AC;
}

input[type="submit"].delete-account {
    background-color: #FEE2AC;
}


