<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Details</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" href="../static/CatLogo.jpg" type="image/jpeg">
</head>
<body>
<div class="top-bar">
    <div class="dropdown">
        <a><img src="../static/Dropdown.png" class="dropbtn"></a>
        <div class="dropdown-content">
            <a href="/HomeSite">Home Page</a>
            <a href="AccountDetails">My Account</a>
            <a href="#Gallery">Gallery</a>
            <a href="#Events">Events</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <a href="/HomeSite"><img src="../static/CatLogo.png" alt="Small Picture" class="small-picture"></a>
</div>
<form th:action="@{/AccountDetails}" th:object="${User}" method="post">
    <div style="text-align: center;">
        <label style="font-size: 20px; font-weight: bold;">Account Details</label>
    </div>
    <p>Name: <input type="text" th:field="*{name}" readonly /></p>
    <p>Age: <input type="text" th:field="*{email}" readonly /></p>
    <p>Password: <input type="text" th:field="*{password}" readonly /></p>
</form>

<form th:action="@{/GoToChangeDetails}"  method="post">

    <p><button type="submit" >Change Details </button>  </p>
</form>

<form th:action="@{/gotouserPets}"  method="post">

    <p><button type="submit" > Pets </button>  </p>
</form>
</body>
</html>