<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Details</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<form th:action="@{/AccountDetails}" th:object="${User}" method="post">

    <p>Navn: <input type="text" th:field="*{name}" /></p>
    <p>Email: <input type="text" th:field="*{email}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
</form>

<form th:action="@{/GoToChangeDetails}"  method="post">

    <p><button type="submit">Change Details</button> </p>
</form>
</body>
</html>