<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Account Details</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" href="../static/CatLogo.jpg" type="image/jpeg">
</head>
<body>
<div class="top-bar">
    <div class="dropdown">
        <a><img src="../static/Dropdown.png" class="dropbtn"></a>
        <div class="dropdown-content">
            <a href="/HomeSite">Home Page</a>
            <a href="AccountDetails">My Account</a>
            <a href="#Gallery">Gallery</a>
            <a href="#Events">Events</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <a href="/HomeSite"><img src="../static/CatLogo.png" alt="Small Picture" class="small-picture"></a>
</div>
<form th:action="@{/EditAccount}" th:object="${User}" class="changeAcc" method="post">
    <div class="profilepicture">
        <img src="../static/NoPicture.png" alt="No Profile Picture">
        <p><button type="submit" class="pictureButton">Change profile picture</button></p>
    </div>
    <input type="text" th:field="*{name}"/>
    <input type="text" th:field="*{email}"/>
    <input type="text" th:field="*{password}"/>
    <button type="submit"><img src="../static/EditButton.png" alt="Button Image" width="15" height="15"></button>
</form>
</body>
</html>