<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Account Details</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<form th:action="@{/EditAccount}" th:object="${User}" class="changeAcc" method="post">
    <div class="profilepicture">
        <img src="../static/NoPicture.png" alt="No Profile Picture">
        <p><button type="submit" class="pictureButton">Change profile picture</button></p>
    </div>
    <input type="text" th:field="*{name}"/>
    <input type="text" th:field="*{email}"/>
    <input type="text" th:field="*{password}"/>
    <button type="submit"><img src="../static/EditButton.png" alt="Button Image" width="15" height="15"></button>
</form>
</body>
</html>