<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cat Site</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<form th:action="@{/DeleteUser}" th:object="${User}" method="post">
    <input type="submit" value="Delete Account" class="delete-account">
</form>
<form th:action="@{/GoToAccountDetails}" method="post">
    <input type="submit" value="Account Details" class="account-details">
</form>
</body>
</html>