<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catbook</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<h1>Welcome to Catbook!</h1>

<div class="topnav" id="homePageNav">
    <a class="active" href="homesite.html">Home</a>
    <a href="AccountDetails">My account</a>
    <a href="#gallery">Gallery</a>
    <a href="#events">Events</a>
</div>

<div class="jpeg-container">
    <img src="../static/smolcat.jpg" alt="Smol Cat" class="smolcat">
</div>

<div class="scroll-container">

</div>
<form action="/EditAccount" method="post">
    <label for="name">New name:</label><br>
    <input type="text" id="name" name="name"><br>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <input type="submit" value="Edit Account">
</form>


<h2>Find the right cat breed for you below</h2>
    <a href="https://cats.com/cat-breeds">List of cat breeds</a>

</body>
</html>