<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
<div class="logo-container">
    <img src="../static/CatLogo.jpg" alt="Cat Logo" class="logo">
</div>
<div class="login-container">
    <h2>LOGIN</h2>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="submit" value="Log in">
        <input type="button" value="Register" onclick="window.location.href='/UserCreation'" class="register-button">
    </form>
</div>
</body>
</html>
