<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of members</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" href="../static/CatLogo.jpg" type="image/jpeg">
</head>
<body>
<h2>Member information</h2>
<div class="top-bar">
    <div class="dropdown">
        <a><img src="../static/Dropdown.png" class="dropbtn"></a>
        <div class="dropdown-content">
            <a href="/HomeSite">Home Page</a>
            <a href="AccountDetails">My Account</a>
            <a href="#Gallery">Gallery</a>
            <a href="#Events">Events</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <a href="/HomeSite"><img src="../static/CatLogo.png" alt="Small Picture" class="small-picture"></a>
</div>
<form th:action="@{/MemberList}" th:object="${User}" method="get">
        <input type="search" id="query" name="q" placeholder="Enter info here"
               <button>Search members</button>

    </form>
<div>

</div>

</body>
</html>