<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserCreation</title>
</head>

<body>
<h2>Create new account</h2>
<form th:action="@{/AddUser}" th:object="${User}" method="post">
    <p>Navn: <input type="text" th:field="*{name}" /></p>
    <p>Email: <input type="text" th:field="*{email}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p><button type="submit">Create Account</button></p>
</form>
<form th:action="@{/LoginUser}" th:object="${User}" method="post">
    <p>Email: <input type="text" th:field="*{email}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p><button type="submit">Login</button></p>
</form>


</body>
</html>