<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User-Delete</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
<h2>Delete User</h2>
<form th:action="@{/DeleteUser}" th:object="${User}" method="post">
    <p>Navn: <input type="text" th:field="*{name}" /></p>
    <p>Email: <input type="text" th:field="*{email}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p><button type="submit">Confirm Deletion of Account</button></p>
</form>
</body>
</html>