<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userpets</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" href="../static/CatLogo.jpg" type="image/jpeg">
</head>
<body>
<div class="top-bar">
    <div class="dropdown">
        <a><img src="../static/Dropdown.png" class="dropbtn"></a>
        <div class="dropdown-content">
            <a href="/HomeSite">Home Page</a>
            <a href="AccountDetails">My Account</a>
            <a href="#Gallery">Gallery</a>
            <a href="#Events">Events</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <a href="/HomeSite"><img src="../static/CatLogo.png" alt="Small Picture" class="small-picture"></a>
</div>
<form th:action="@{/userPets}" th:object="${Pets}"  class="pets" method="post">
    <div style="text-align: center;">
        <label style="font-size: 25px; font-weight: bold;" >Your Pets</label>
    </div>
    <div class="profilepicture">
        <img src="../static/Nocat.png" alt="No Profile Picture">
        <label class="catPictureLabel">Your cat picture</label>
    </div>
    <p>Name: <input type="text" th:field="*{name}" readonly /></p>
    <p>Age: <input type="number" th:field="*{age}" readonly /></p>
    <p>Race: <input type="text" th:field="*{race}" readonly /></p>

    <input type="hidden" name="petId" th:value="${Pets.id}" />
    <input type="hidden" name="petName" th:value="${Pets.name}" />
    <input type="hidden" name="petAge" th:value="${Pets.age}" />
    <input type="hidden" name="petRace" th:value="${Pets.race}" />
    <input type="button" value="Edit Pet" th:onclick="'window.location.href=\'/editUserPets/' + ${Pets.id} + '\''" class="catPictureLabel">

</form>

<form action="/addPet" class="addpet" method="post">
    <input type="hidden" name="ownerId" value="${user.id}">
    <input type="text" name="petName" placeholder="Pet Name">
    <input type="text" name="petRace" placeholder="Pet Race">
    <input type="number" name="petAge" placeholder="Pet Age">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <button type="submit">Add Pet</button>
</form>


<form th:action="@{/nextPet}"  class="nextpet" method="post">
    <button type="submit" >Next</button>
</form>

<form th:action="@{/prevPet}" class="prevpet" method="post">
    <button type="submit">Previous</button>
</form>


</body>
</html>